<h2>Edit Note</h2>

<h3>Edit Note</h3>
<form action="/edit/{{key}}" method="post">
    <input type="hidden" name="key" value="{{key}}">
    <input type="text" name="note" value="{{note}}">
    <button type="submit">edit note</button>
</form>